/* Déclaration police custom */
@font-face {
    font-family: 'compass';
    src: url(../Ressources/fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf);
    font-weight: normal;
    font-size: normal;
}

body {
    background-image: url(../Ressources/Image/Fond.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Application de la police sur tous les titres */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'compass';
    color: white;
}

p,
ul,
li {
    color: white;
}

/* En-tête */
header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,   black 80%);
    color: black;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

header .container a {
    color: white;
    font-style: italic;
}

.logo {
    width: 150px;
    border-radius: 120px;
}

/* -------------------------------------------------------- Main -------------------------------------------------------- */
main .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* ----------------------------------------------- Section Expérience --------------------------------------------------------------- */
.experiences-pro {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 40%;
    /*border: solid 1px;*/
}

.experiences-pro h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.list-experiences {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.experiences {
    background-color: #000000ec;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.experiences:hover {
    transform: translateY(10px);
    /* Animation */
}

.experiences h3 {
    font-size: 1em;
    margin: 15px 0;
}

/* ------------------------------------------------- Section Formation -------------------------------------------------------------- */
.formation-education {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 850px;
    width: 25%;
    /*border: solid 1px;*/
} 

.formation-education h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.list-formation {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.formation {
    background-color: #000000ec;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.formation:hover {
    transform: translateY(10px);
    /* Animation */
}

.formation h3 {
    font-size: 1em;
    margin: 15px 0;
}

/* -------------------------------------------------- Section Compétences ---------------------------------------------------------- */
.list-competence {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.competences {
    background-color: #000000ec;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.competences:hover {
    transform: translateY(10px);
    /* Animation */
}

.competences h3 {
    font-size: 1em;
    margin: 15px 0;
    text-align: center;
}

/* ------------------------------------------------- Section Lien ------------------------------------------------------------------ */
.lien-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 22%;
    /*border: solid 1px;*/
} 

.lien-pro h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.list-lien {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.lien {
    background-color: #000000ec;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.lien a {
    color: white;
    font-style: italic;
}

.lien:hover {
    transform: translateY(10px);
    /* Animation */
}

.lien h3 {
    font-size: 1em;
    margin: 15px 0;
    text-align: center;
}
/* -------------------------------------------------------- Pied de Page -------------------------------------------------------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

footer .container {
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Pour les tablettes (largeur max de 1000px) */
@media (max-width: 1000px) {

    /* En-tête */
    header .container {
        flex-direction: column;
        align-items: center;
    }

    .container {
        justify-content: center;
    }

    aside {
        display: inline-block;
    }

    .experiences-pro {
        width: 60%;
        /* Deux produits côte à côte */
    }

    .formation-education {
        width: 100%;
    }

    .logo {
        display: none;
    }
}

/* Pour les mobiles (largeur max de 480px) */
@media (max-width: 480px) {
    /* En-tête */
    header .container {
        text-align: center;
    }

    /* Expériences */
    .experiences {
        width: 100%;
        /* Une expérience par ligne */     
    }

    .


}

