/* Déclaration police custom */
@font-face {
    font-family: 'compass';
    src: url(../Ressources/fonts/TEXAT\ BOLD\ PERSONAL\ USE___.otf);
    font-weight: normal;
    font-size: normal;
}

/* Application de la police sur tous les titres     #7979F4  #FF0000*/
h1,
h2,
h3,
h4,
h5 {
    font-family: 'compass';
}

p {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* En-tête */
header {
    background: linear-gradient(to left, #FF00D5 0%, white 30%, white 70%,  #00F7FF 100%);
    color: black;
    padding: 20px 0;
}

header .container {
    /* classe flexbox, qui contient des blocks et gère leurs disposition . Elle contient un titre et un nav */
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* header + nav 
header h1 a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-family: cursive;
}

nav ul li a:hover {
    text-decoration: underline;
}*/

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Main */
.hero {
    background: linear-gradient(to left, #FFFFFF, #ACC8E0);
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0078ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* Section Expérience */
.experiences-pro {
    display: inline-block;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #fff;
    max-width: 40%;
    margin: auto;
    border: solid 1px;
}

.experiences-pro h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.list-experiences {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.experiences {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.experiences:hover {
    transform: translateY(10px);
    /* Animation */
}

.experiences h3 {
    font-size: 1em;
    margin: 15px 0;
}

/* Section Formation */
.formation-education {
    display: inline-block;
    flex-direction: column;
    padding: 40px 20px;
    background-color: #fff;
    max-width: 450px;
    width:30%;
    margin: auto;
    border: solid 1px;
} 

.formation-education h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.list-formation {
    display: flex;
    justify-content: space-around;
    /* flex wrap permet le retour à la ligne */
    flex-wrap: wrap;
    gap: 20px;
}

.formation {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.formation:hover {
    transform: translateY(10px);
    /* Animation */
}

.formation h3 {
    font-size: 1em;
    margin: 15px 0;
}

/* Pied de Page */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
}

footer .container {
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer ul li {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* Pour les tablettes (largeur max de 768px) */
@media (max-width: 768px) {

    /* En-tête */
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* Produits */
    .experiences {
        width: 45%;
        /* Deux produits côte à côte */
    }
}

/* Pour les mobiles (largeur max de 480px) */
@media (max-width: 480px) {
    /* En-tête */
    header .container {
        text-align: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    /* Section Hero */
    .hero h2 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .cta-button {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    /* Produits */
    .experiences {
        width: 90%;
        /* Un prduit par ligne */
        margin: 0 auto;
    }

    /* Pied de page */
    footer ul {
        flex-direction: column;
        gap: 10px;
    }
    
}

